
:root {
    --darkSky: #221a54;
    --snow: whitesmoke;
    --black: #000000;
    --visited-link-light: rgb(151, 5, 134);
    --transition-delay: 1s;
    --icon-width: 48px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    border-color: var(--bd-color);
    border-style: groove;
    border-width: 5px;

    margin-left: 3%;
    margin-right: 1%;
    margin-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

body {
    background-color: var(--bg);
    color: var(--font-color);
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: var(--transition-delay);
}

a {
    color: var(--unvisited-link);
}

a:visited {
    color: var(--visited-link);
}

.websiteOption {
    margin-left: 1%;
    margin-right: 1%;
}

.button {
    width: fit-content;
    padding: 2px;
    border-radius: 10%;
    background-color: var(--font-color);
    color: var(--bg);
}

.button:hover {
    cursor: pointer;
}

div.icon {
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 10%;
    max-width: 10%;
}

.darkTheme {
    --bg: var(--darkSky);
    --font-color: var(--snow);
    --unvisited-link: yellow;
    --visited-link: orangered;
    --bd-color: var(--snow);
}

.lightTheme {
    --bg: var(--snow);
    --font-color: var(--darkSky);
    --unvisited-link: blue;
    --visited-link: var(--visited-link-light);
    --bd-color: var(--darkSky);
}

.imgIcon {
    width: auto;
    max-width: var(--icon-width);
    height: auto;
}

.iconDescriptor {
    max-width: inherit;
    margin-top: -5%;
    font-size: 14px;
    display: block;
}

div.icons {
    color: var(--snow);
    position: relative;
    padding-top: 1%;
    bottom: 0;
    left: 0;
    font-size: var(--icon-width);
    text-align: center;
}

#headshot {
    left: 0%;
    top: 0%;
    width: 33%;
    margin-left: 1%;
    height: auto;

    border-color: var(--bd-color);
    border-style: groove;
    border-width: 5px;
    
    transform-origin: center;
}

#headerText {
    position: relative;
    flex-direction: column;
    border: 5px groove var(--bd-color);
    margin-left: 3%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    width: auto;
    height: 78%;
    text-align: center;
}

#headerText ul {
    position: inherit;
    left: -3%;
}

#headerText li {
    padding-left: 10%;
    text-indent: -10%;
    text-align: left;
}

#themeButton {
    width: fit-content;
    padding: 2px;
    border-radius: 10%;
    background-color: var(--font-color);
    color: var(--bg);
}

#themeButton:hover {
    cursor: pointer;
}

#websiteOptions {
    flex-direction: row;
    display: flex;
}
